.Button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto';
  transition: all 0.12s ease-out;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, .3);
  }
  &:disabled {
    background: #cccccc;
    cursor: not-allowed;
  }
}

.error {
  background: rgb(233, 65, 0);
  color: #ffffff;
  &:hover {
    background-color: rgb(217, 61, 0);;
  }
}
.success {
  background: rgb(1, 177, 10);
  color: #ffffff;
  &:hover {
    background-color: rgb(0, 162, 10);;
  }
}
.primary {
  background: #2884f6;
  color: #ffffff;
  &:hover {
    background-color: #267ae2;
  }
}